@charset 'utf-8';
/* footer link */
.footer-linkWrap {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.footer-linkWrap a {
	display: block;
}
.footer-link {
	overflow: hidden;
}
.footer-link li {
	float: left;
	position: relative;
	/*margin-left: 14px;*/
	margin-left: 10px;
	/*padding-left: 18px;*/
	padding-left: 15px;
}
.footer-link li:first-child {
	margin-left: 0;
	padding-left: 0;
}
.footer-link li a {
	/*margin: 13px 0;*/
	margin: 10px 0;
	color: #787878;
	/*font-size: 16px;*/
	font-size: 15px;
	font-weight: 400;
}
/* footer info */
.footer-info {
	/*padding: 47px 0;*/
	/*padding: 40px 0;*/
	padding: 30px 0;
}
.footer-info .inner {
	position: relative;
	/*padding-left: 217px;*/
	padding-left: 195px;
}
.footer-info img {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.footer-info .copyright {
	/*margin-top: 11px;*/
	margin-top: 10px;
	color: #787878;
	font-size: 12px;
}
.footer-info ul {
	overflow: hidden;
}
.footer-info li {
	float: left;
	color: #787878;
	/*font-size: 16px;*/
	font-size: 15px;
}
.footer-info li + li {
	margin-left: 10px;
}