@charset 'UTF-8';
button {
	border: 0;
	background: 0 0;
}
/* Main */
/* Content */
.main {
	width: 1280px;
	margin: auto;
	padding: 20px 0;
	color: #121212;
	background: none;
}
.navbar-fixed .main {
	padding: 218px 0 20px;
}
.main .inner:before {
	content: '';
	display: table;
	clear: both;
}
/* Column */
.column-left {
	float: left;
	width: 849px;
}
.column-right {
	float: right;
	width: 418px;
}
.column-left .column {
	margin-top: 12px;
}
.column {
	position: relative;
	border: 1px solid #ccc;
	background-color: #fff;
}
.column h3 {
	position: relative;
	margin: 0;
	padding: 0 30px;
	border-bottom: 1px solid #ccc;
	color: #121212;
	line-height: 50px;
}
.column h3 .tab-menu {
	position: absolute;
	top: 0;
	right: 30px;
}
.column .area:after {
	content: '';
	display: table;
	clear: both;
}
/* qna list */
.qna-list {
	display: table-cell;
	width: 512px;
	padding: 30px;
	border-right: 1px solid #ccc;
}
.qna-list li {
	position: relative;
	margin-top: 13px;
	padding-right: 70px;
}
.qna-list li:first-child {
	margin-top: 0;
}
.qna-list li a {
	display: inline-block;
	overflow: hidden;
	width: 360px;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap;
}
.qna-list .state {
	display: inline-block;
	position: absolute;
	top: 2px;
	right: 0;
	width: 60px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 25px;
	background-color: #ccc;
}
.qna-list .state.check {
	background-color: #ce020b;
}
.qna-list strong {
	display: inline-block;
	margin-right: 18px;
	color: #ce020b;
	font-size: 14px;
}
/* qna link */
.qna-link {
	display: table-cell;
	position: relative;
	width: 335px;
}
.qna-link .btn_link {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 30px;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
}
.qna-link .btn_link [class^=icon-] {
	position: absolute;
	top: 50%;
	right: 30px;
	width: 9px;
	height: 15px;
	margin-top: -5px;
}
/* tab menu */
.tab-menu:before {
	content: '';
	display: table;
	clear: both;
}
.tab-menu li {
	display: inline-block;
}
.tab-menu li + li {
	position: relative;
	margin-left: 31px;
}
.tab-menu li + li:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: -15px;
	width: 1px;
	height: 16px;
	margin-top: -7px;
	background-color: #ccc;
}
.tab-menu a {
	position: relative;
	color: #999;
	font-size: 16px;
	font-weight: 300;
}
.tab-menu a.active {
	color: #eb0028;
	font-weight: 500;
}
.tab-menu a.active:after {
	content: '';
	position: absolute;
	top: -5px;
	left: 50%;
	width: 5px;
	height: 5px;
	margin-left: -2px;
	border-radius: 50%;
	background-color: #eb0028;
}
.tab-item li {
	position: relative;
	padding-right: 60px;
}
.tab-item li span {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
}
/* qna48 */
.qna48 .area,
.qna-town .area {
	display: table;
}
.qna48 h3 .btn_more {
	position: absolute;
	right: 30px;
	color: #ff7214;
	font-size: 16px;
	font-weight: 500;
}
.qna48 h3 [class^=icon-] {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 15px;
	margin-left: 30px;
}
.qna48 .qna-link {
	padding: 26px 130px 26px 30px;
	color: #787878;
	font-size: 16px;
	background: url(/assets/hcp/pc/img/main/bg_main01.png) no-repeat 0 bottom;
}
.qna48 .qna-link strong {
	color: #121212;
}
.qna48 .qna-link .latency {
	display: block;
	color: #ff7214;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -2px;
}
/* qna town */
.qna-town .qna-list li {
	padding-right: 0;
}
.qna-town .qna-list li a {
	width: 451px;
}
.qna-town .qna-list strong {
	width: 90px;
}
.qna-town .qna-link {
	padding: 24px 30px 234px 30px;
	background: url(/assets/hcp/pc/img/main/bg_main02.png) no-repeat 0 bottom;
}
.qna-town .qna-link .question {
	position: relative;
	padding-left: 50px;
	color: #121212;
	font-size: 16px;
}
.qna-town .qna-link .question:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 47px;
	background: url(/assets/hcp/pc/img/main/icon_question.png) no-repeat 0 0;
}
.qna-town .qna-link .count {
	display: inline-block;
	position: absolute;
	top: 140px;
	left: 90px;
	color: #ce020b;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}
.qna-town .qna-link .count span {
	font-size: 36px;
}
/* user area */
.user-area {
	padding: 30px 30px 26px 30px;
	border: 6px solid #ce020b;
	border-width: 6px 6px 0 6px;
	background-color: #fff;
}
.user-info .private {
	position: relative;
	color: #000;
	font-size: 24px;
}
.user-info .private strong {
	font-weight: 700;
}
.user-info .private .btn-mypage {
	position: absolute;
	top: 2px;
	right: 0;
	padding: 0 5px;
	font-size: 16px;
	line-height: 30px;
}
.my-service:after {
	content: '';
	display: table;
	clear: both;
}
.my-service {
	margin-top: 30px;
}
.my-service li {
	float: left;
}
.my-service li:first-child {
	width: 163px;
}
.my-service [class^=icon-],
.my-service li span {
	display: inline-block;
	vertical-align: middle;
}
.my-service li strong {
	vertical-align: middle;
	margin: 0 15px;
}
.my-service .icon-private01 {
	overflow: initial;
	position: relative;
}
.my-service .icon-private01.new:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: -8px;
	right: -8px;
	width: 20px;
	height: 20px;
	background: url(/assets/hcp/pc/img/main/spr_icon_main.png) no-repeat;
	background-position: -162px 0;
}
.service-tab {
	margin-top: 26px;
	border-top: 1px solid #ccc;
}
.service-tab:after {
	content: '';
	display: table;
	clear: both;
}
.service-tab li {
	float: left;
	width: 25%;
}
.service-tab li a {
	display: block;
	height: 78px;
	padding: 12px 5px;
	color: #666;
	font-size: 14px;
	text-align: center;
}
.service-tab li strong {
	display: block;
	margin-bottom: 5px;
	color: #000;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
.service-tab li span {
	display: block;
	width: 60px;
	margin: 5px auto;
	border: 1px solid #ce020b;
	color: #ce020b;
	font-size: 12px;
	line-height: 20px;
}
.user-tab {
	padding-top: 29px;
	border-top: 1px solid #ccc;
}
.user-tab .tab-menu {
	margin-bottom: 12px;
}
/* imp area */
.imp-area {
	position: relative;
	width: 100%;
	height: 231px;
	padding: 60px 100px 100px 50px;
	background: url(/assets/hcp/pc/img/main/bg_main03.jpg) no-repeat 0 0;
}
.imp-area .btn-imp {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 75px;
}
.imp-area .btn-imp [class^=icon-] {
	display: inline-block;
	margin-left: 30px;
}
/* short cut */
.short-cut {
	margin: 10px 0 0 -1px;
}
.short-cut:before {
	content: '';
	display: table;
	clear: both;
}
.short-cut li {
	float: left;
	width: 25%;
	border: 1px solid #f2f2f2;
}
.short-cut li a {
	display: block;
	padding: 15px 10px 10px 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	background-color: #233043;
}
.short-cut li a [class*='icon-'] {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto 5px;
}
.short-cut li a:hover {
	background-color: #ed1a2e;
}
/* column middle */
.column-middle {
	clear: both;
	padding-top: 12px;
}
.column-middle:after {
	content: '';
	display: table;
	clear: both;
}
.recommend-list {
	position: relative;
	padding: 30px;
}
.recommend-list .slide {
	width: 100%;
}
.recommend-list .slide:after {
	content: '';
	display: table;
	clear: both;
}
.recommend-list .item {
	float: left;
	width: 25%;
}
.recommend-list .item a {
	display: block;
	position: relative;
	width: 291px;
	height: 291px;
	padding: 26px 30px 60px 30px;
	color: #333;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}
.recommend-list .slick-arrow {
	position: absolute;
	top: -56px;
	width: 13px;
	height: 21px;
	background: url(/assets/hcp/pc/img/main/spr_icon_main.png) no-repeat;
}
.recommend-list .slick-prev {
	right: 44px;
	left: initial;
	background-position: -34px -78px;
}
.recommend-list .slick-next {
	right: 0;
	background-position: -51px -78px;
}
.recommend-list .slick-prev:hover {
	background-position: -34px -103px;
}
.recommend-list .slick-next:hover {
	background-position: -51px -103px;
}
.slick-prev:before,
.slick-next:before {
	overflow: hidden;
	color: transparent;
	text-indent: 100%;
	white-space: nowrap;
}
.slick-next:before {
	position: absolute;
	top: 50%;
	left: -15px;
	width: 1px;
	height: 16px;
	margin-top: -8px;
	background-color: #ccc;
}
.recommend-list .item.color-white a,
.recommend-list .item.color-white .tag span {
	color: #fff !important;
}
/* .recommend-list .item01 a {
	background: url(/assets/hcp/pc/img/main/bg_mainSlide01.jpg) no-repeat;
}
.recommend-list .item02 a {
	background: url(/assets/hcp/pc/img/main/bg_mainSlide02.jpg) no-repeat;
}
.recommend-list .item03 a {
	background: url(/assets/hcp/pc/img/main/bg_mainSlide03.jpg) no-repeat;
}
.recommend-list .item04 a {
	background: url(/assets/hcp/pc/img/main/bg_mainSlide04.jpg) no-repeat;
} */
.recommend-list .item .title {
	display: block;
	font-size: 24px;
	font-weight: 700;
}
.recommend-list .tag span {
	display: inline-block;
	margin-left: 5px;
	font-size: 18px;
}
.recommend-list .txt {
	display: -webkit-box;
	overflow: hidden;
	width: 180px;
	height: 48px;
	margin-top: 22px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.recommend-list .category {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.recommend-list .category em {
	display: inline-block;
	padding: 0 10px;
	border-radius: 12px;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	background-color: rgba(0, 0, 0, .4);
}
/* column bottom */
.column-bottom {
	margin-top: 12px;
}
.column-bottom:after,
.hcp-info .list-group:after,
.thumb:after,
.thumb-slide:after {
	content: '';
	display: table;
	clear: both;
}
.column-bottom .area {
	padding: 30px;
}
.hcp-info .area {
	position: relative;
	height: 842px;
	padding-bottom: 0;
}
.thumb-slide {
	margin-top: 15px;
}
.thumb-slide .item {
	float: left;
	padding-right: 15px;
}
.thumb-slide .img {
	position: relative;
}
.thumb-slide img {
	display: block;
	width: 117px;
	height: 75px;
}
.thumb-slide .title {
	display: block;
	overflow: hidden;
	margin-top: 10px;
	color: #121212;
	font-size: 14px;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap;
}
.thumb-slide .slick-current .img:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 4px solid #eb0028;
}
.thumb-slide .slick-current .title {
	color: #eb0028;
}
/* card-row */
.hcp-info .cardList-row .card:first-child {
	margin-left: 0;
}
.thumb-slide-view .card-row .card-body {
	padding: 90px 0 0 0;
}
.thumb-slide-view .card-row .title {
	font-size: 24px;
}
.thumb .thumb-left {
	float: left;
}
.thumb .thumb-right {
	float: right;
}
.thumb .thumb-row-slide {
	width: 214px;
	margin: 0;
}
.thumb .thumb-row-slide .item {
	float: none;
	padding: 0;
}
.thumb .thumb-row-slide .item + .item {
	margin-top: 5px;
}
.thumb .thumb-row-slide-view {
	width: 543px;
}
.hcp-info .card-body .title {
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: initial;
}
.hcp-info .card-foot {
	overflow: hidden;
	height: 40px;
	margin-top: 12px;
}
.hcp-info .cardList-col {
	overflow: hidden;
}
.hcp-info .cardList-col .card {
	float: left;
	vertical-align: top;
	width: 380px;
}
.hcp-info .cardList-col .card + .card {
	margin: 0 0 0 27px;
}
.hcp-info .cardList-col .card-img {
	margin-bottom: 25px;
}
/* list-group */
.hcp-info .list-group {
	margin-top: 25px;
	border-top: 1px solid #ccc;
}
.hcp-info .list-group .list {
	float: left;
	width: 50%;
	padding: 15px 20px;
}
.hcp-info .list-group .list:first-child {
	padding-left: 0;
}
.hcp-info .list-group .list:last-child {
	padding-right: 0;
}
.hcp-info .list-group .list + .list {
	border-left: 1px solid #ccc;
}
.hcp-info .btn-more {
	position: absolute;
	top: -50px;
	right: 30px;
	color: #999;
	font-size: 14px;
	line-height: 48px;
}
.hcp-info .btn-more [class^=icon-] {
	vertical-align: middle;
	margin-left: 15px;
}
/* hcp-contents */
.hcp-contents .area {
	overflow-y: auto;
	height: 842px;
}
.hcp-contents .btn-more {
	min-width: 140px;
	height: 60px;
	margin-top: 26px;
	font-size: 16px;
	font-weight: 500;
	line-height: 58px;
}
.hcp-contents .btn-more [class^=icon-] {
	vertical-align: middle;
	margin-left: 20px;
}
/* template2 hcp-info */
.hcp-info .recommend-list {
	padding: 0;
}
.hcp-info .recommend-list ul {
	overflow: hidden;
}
.hcp-info .recommend-list .item {
	width: 378px;
	height: 283px;
}
.hcp-info .recommend-list .item a {
	width: 100%;
	height: 100%;
	padding-top: 170px;
}
.hcp-info .recommend-list .item + .item {
	margin-left: 31px;
}
.hcp-info .recommend-list .txt {
	width: 100%;
	margin-top: 7px;
}
.hcp-info .recommend-list .category {
	top: 20px;
	right: inherit;
	bottom: inherit;
	left: 20px;
}
/* hide */
.he {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	border: none;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}
.ht {
	overflow: hidden;
	color: transparent;
	text-indent: 100%;
	white-space: nowrap;
}
.es {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* card */
.card {
	display: block;
	position: relative;
}
.cardList-row:after,
.card:after {
	content: '';
	display: table;
	clear: both;
}
.card > a {
	display: block;
}
.card-img {
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	text-align: center;
}
.card-body {
	display: block;
	position: relative;
}
.card [class*=title] {
	display: block;
	overflow: hidden;
	color: #222;
}
.card .title {
	display: block;
	font-size: 16px;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap;
}
.card .label {
	display: inline-block;
	height: 35px;
	margin-bottom: 20px;
	padding: 0 10px;
	border: 2px solid #eb0028;
	color: #eb0028;
	font-size: 16px;
	line-height: 31px;
}
.card .text:first-child {
	margin-top: 0;
}
.card .text:last-child {
	margin-bottom: 0;
}
.card .text {
    display: -webkit-box;
    overflow: hidden;
    height: 40px;
	margin: 5px 0;
	color: #787878;
	font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card .text.line-size01 {
	height: 20px;
    -webkit-line-clamp: 1;
}
.card .text.line-size03 {
    height: 60px;
    -webkit-line-clamp: 3;
}
.card-foot {
	display: block;
	position: relative;
	margin-top: 5px;
	color: #787878;
	font-size: 14px;
}
/* card-list */
.card-list {
	margin: -15px;
}
.card-list:after {
	content: '';
	display: table;
	clear: both;
}
.card-list .card {
	padding: 15px;
}
/* cardList-row */
.cardList-row {
	margin: 0;
}
.cardList-row .card {
	padding: 0;
}
.cardList-row .card + .card {
	margin-top: 10px;
}
/* col-size */
[class*=col-size] .card {
	float: left;
	margin: 0;
}
.col-size02 .card {
	width: 50%;
}
.col-size03 .card {
	width: 33.33%;
}
/* card row */
.card-row {
	display: table;
	width: 100%;
}
.card-row .card-img,
.card-row .card-body {
	display: table-cell;
	float: none;
	margin: 0;
	vertical-align: middle;
}
.card-row .card-img + .card-body {
	padding-left: 15px;
}
.card-row .card-body:first-child {
	padding-right: 15px;
}
.thumb .card-row .card-body {
	padding-left: 20px;
}
.card-row .card-img.img-col25 {
	width: 25%;
}
.card-row .card-img.img-col40 {
	width: 40%;
}
.card-row .card-img.img-col50 {
	width: 50%;
}
.card-row .card-img.img-col60 {
	width: 60%;
}
.cardList-col .card-img img {
	display: block;
	width: 378px;
	height: 180px;
}
.column-right .card-img img {
	display: block;
	width: 356px;
	height: 228px;
}
.card-row .title {
	height: auto;
}
/* board */
.list-group .list {
	display: block;
	position: relative;
}
.list-group .list li + li {
	margin-top: 12px;
}
.list-group .list [class*=title] {
	display: block;
	overflow: hidden;
	color: #222;
}
.list-group .list .title {
	display: block;
	font-size: 16px;
	text-overflow: ellipsis;
	word-wrap: normal;
	white-space: nowrap;
}
.list-group .list .text {
	display: -webkit-box;
	overflow: hidden;
	height: 60px;
	margin-top: 14px;
	color: #787878;
	font-size: 14px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.list-grou p.list .text:first-child {
	margin-top: 0;
}
.list-foot {
	display: block;
	position: relative;
	margin-top: 9px;
	color: #787878;
	font-size: 14px;
}
/* bnr-group */
.bnr-group {
	overflow: hidden;
	/* position: absolute;
	    right: 30px;
	    bottom: 20px;
	    left: 30px; */
	margin-top: 25px;
	padding-top: 17px;
	border-top: 1px solid #ccc;
}
.list-group + .bnr-group {
	margin-top: 0;
}
.bnr-group > a {
	float: left;
}
.bnr-group > a + a {
	float: right;
}
.bnr-group > a img {
	display: block;
	width: 385px;
	height: 120px;
}
.desc {
	margin-top: 25px;
	font-size: 14px;
}
.align-top {
	vertical-align: top !important;
}
.align-bottom {
	vertical-align: bottom !important;
}
.align-middle {
	vertical-align: middle !important;
}