@charset 'UTF-8';
/* 통합검색 */
.searchCont {
	position: relative;
}
.searchCont > section {
	position: relative;
	width: 1030px;
}
.searchCont aside {
	position: absolute;
	top: 0;
	right: 0;
	width: 220px;
}
.searchCont .message strong {
	color: #ce020b;
}
.searchCont .btn-link {
	font-weight: 400;
}
.searchCont .heading-depth03 {
	margin-bottom: 0;
	padding-bottom: 15px;
}
.searchCont .heading-depth03 .title {
	font-weight: 400;
}
.searchCont .heading-depth03 span {
	margin-left: 6px;
}
.searchCont .heading-depth02 + .heading-depth03 {
	margin-top: 30px;
}
.searchCont .desc {
	margin-bottom: 26px;
}
.searchCont .desc strong {
	display: inline-block;
	margin-right: 7px;
	color: #000;
}
.searchCont .desc a {
	display: inline-block;
	margin-left: 3px;
	color: #999;
}
.searchCont .message {
	font-size: 18px;
	text-align: center;
	background-color: #f2f2f2;
}
.searchCont .icon-file01 {
	margin: 3px 0 0 3px;
}
.searchCont .board-type01,
.searchCont .boardCard {
	border-top: 2px solid #000;
}
.searchCont .full-link {
	display: block;
	height: 70px;
	border: 1px solid #ce020b;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	line-height: 68px;
}
/* 데이터피커 검색영역 */
.searchCont .search {
	margin: 45px 0 70px;
	text-align: left;
}
.searchCont .search:after,
.searchCont .search:before {
	content: '';
	display: table;
}
.searchCont .search:after {
	clear: both;
}
.searchCont .search em {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 500;
	line-height: 50px;
}
/* 데이터피커 라디오버튼 리셋*/
.searchCont .search .radio ins,
.searchCont .search .radio :checked ~ ins,
.searchCont .search .radio :focus ~ ins {
	background: none;
}
.searchCont .search .radio,
.searchCont .search .radio .label {
	margin: 0;
}
.searchCont .search .radio ins {
	width: 0;
	height: 0;
}
/* 데이터피커 라디오버튼 수정 */
.searchCont .search .radio .label {
	display: inline-block;
	width: 60px;
	height: 50px;
	margin: 0 5px;
	border: 1px solid #ccc;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	line-height: 48px;
}
.searchCont .search .date-group {
	margin-right: 4px;
}
.searchCont .search .date-group em {
	margin: 0 9px;
}
.searchCont .search .date-group ~ .btn {
	margin-left: 2px;
}
.searchCont .search .date-group .datepicker-input {
	width: 124px;
	padding: 0 13px;
}
.searchCont .search .select {
	float: right;
}
.searchCont .search .btn-color02 {
	padding: 0 5px;
}
/* 게시판 영역*/
/* 모듈리셋 */
.searchCont .tags {
	display: inline-block;
	vertical-align: middle;
	min-width: 60px;
	height: 24px;
	margin-right: 4px;
	padding: 0 5px;
	color: #999;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	background-color: #f2f2f2;
}
.searchCont .tags-type01 {
	padding: 0;
	color: #ce020b;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	background-color: transparent;
}
.searchCont [class*=boardCard-type] .item-body {
	padding: 0;
}
/* 모듈 수정 */
/* boardCard */
.searchCont .boardCard:not(.boardCard-type02) {
	margin: 0;
	padding: 15px 5px;
}
.searchCont .boardCard:not(.boardCard-type02) > li {
	width: 33.2%;
	padding: 15px 15px;
}
.searchCont .boardCard:not(.boardCard-type02) .item-body {
	height: auto;
	min-height: 180px;
}
.searchCont .boardCard:not(.boardCard-type02) span.tags {
	overflow: hidden;
	max-width: 95%;
	height: 30px;
	margin-bottom: 13px;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
}
.searchCont .boardCard .item-foot {
	margin-top: 13px;
}
.searchCont .boardCard .item-foot span + span {
	margin-left: 4px;
}
.searchCont .boardCard .img-size01 {
	width: 100%;
	height: 175px;
}
.searchCont .boardCard .img-size02 {
	width: 100%;
	height: 280px;
}
.searchCont .boardCard .item-body span.tags {
	height: auto;
	text-align: left;
}
/* boardCard-type */
.searchCont .boardCard-type02 .item-img + .item-body {
	margin: 10px 0;
	padding: 0 0 0 25px;
}
.searchCont [class*=boardCard-type] .title {
	/* overflow: hidden; */
	vertical-align: middle;
	max-width: 90%;
	/* text-overflow: ellipsis; */
	/* word-break: break-all; */
	/* white-space: nowrap; */
	height: auto;
	margin-bottom: 15px;
}
.searchCont [class*=boardCard-type] .title strong {
	float: inherit;
	vertical-align: middle;
	font-size: 20px;
}
/* .searchCont [class*=boardCard-type] .title .tags + strong {
	max-width: 85%;
} */
.searchCont [class*=boardCard-type] .item-img + .item-body .title {
	vertical-align: top;
	max-width: 80%;
}
.searchCont [class*=boardCard-type] .title span:not(.num) {
	/* margin-top: -4px; */
}
.searchCont [class*=boardCard-type] .txt {
	height: 67px;
}
.searchCont [class*=boardCard-type] .img-size01 {
	width: 220px;
	height: 220px;
}
.searchCont [class*=boardCard-type] .img-size01 + .item-body {
	width: calc(100% - 220px);
	margin-top: 20px;
}
.searchCont [class*=boardCard-type] .img-size02 {
	width: 110px;
	height: 110px;
}
.searchCont [class*=boardCard-type] .img-size02 + .item-body {
	width: calc(100% - 110px);
	padding-top: 0;
}
.searchCont [class*=boardCard-type] .img-size03 {
	width: 215px;
	height: 110px;
}
.searchCont [class*=boardCard-type] .img-size03 + .item-body {
	width: calc(100% - 216px);
	padding-top: 0;
}
.searchCont [class*=boardCard-type] .list-bar {
	margin-bottom: 15px;
}
.searchCont [class*=boardCard-type] .txt + .tags-group {
	margin-top: 15px;
}
.searchCont [class*=boardCard-type] .item-foot {
	position: absolute;
	top: 3px;
	right: 0;
	bottom: inherit;
	margin: 0;
}
/* board */
.searchCont .feed-head,
.searchCont .feed-body {
	padding: 30px 125px 30px 80px;
}
.searchCont .feed-head.head-type02 {
	padding-left: 20px;
}
.searchCont .feed-head a {
	overflow: hidden;
	vertical-align: middle;
	width: 90%;
	font-size: 20px;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
}
.searchCont .feed-head em {
	display: block;
	margin-top: 16PX;
	color: #999;
}
.searchCont .feed .list-bar {
	position: absolute;
	top: 30px;
	right: 20px;
	margin: 0;
}
.searchCont .feed-body .text {
	overflow: hidden;
	max-height: 73px;
}
.searchCont .feed-body .file-group {
	margin-top: 23px;
}
.searchCont .feed .tags-group {
	margin-top: 15px;
}
.searchCont .feed-head .title {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	max-width: 85%;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
}
.searchCont .feed-head .sizeS,
.searchCont .feed-head .sizeS .title {
	font-size: 16px;
}
.searchCont .feed-head .sizeS .num {
	display: inline-block;
	margin-top: -1px;
}
/* aside */
.searchCont aside .heading {
	margin-bottom: 16px;
}
.searchCont .rank {
	padding: 30px 25px;
	border: 1px solid #ccc;
}
.searchCont .rank strong {
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	text-align: center;
}
.searchCont .rank li {
	position: relative;
	padding-left: 35px;
	color: #000;
	word-break: keep-all;
}
.searchCont .rank li a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
}
.searchCont .rank li + li {
	margin-top: 10px;
}
.searchCont .banner {
	margin-top: 30px;
}
.searchCont .banner a {
	display: block;
	overflow: hidden;
	width: 220px;
	height: 80px;
}
.searchCont .banner a + a {
	margin-top: 14px;
}
/* no-data */
.searchCont .no-data {
	margin: 150px 0;
	font-size: 20px;
	text-align: center;
	letter-spacing: -1px;
	line-height: 1.4;
}
.searchCont .no-data:before {
	content: '';
	display: block;
	width: 98px;
	height: 98px;
	margin: 0 auto 35px;
	background: url(/static/hcp/img/common/img_nodata.png) no-repeat 0 0;
}
.searchCont .no-data strong {
	display: block;
	color: #ce020b;
}
.searchCont .list-bar li {
	font-size: 14px;
}
/**/
.searchCont .tags-type01 {
	display: block;
	overflow: hidden;
	height: auto;
	text-align: left;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
	line-height: inherit;
}
.searchCont .icon-file02 {
	display: inline-block;
	position: initial;
	vertical-align: middle;
	margin-left: 5px;
}
.searchCont .num {
	vertical-align: middle;
	font-size: 20px;
}
.searchCont .feed-head .num,
.searchCont .feed-head .icon-file02,
.searchCont .feed-head .sizeS + .num,
.searchCont .feed-head .sizeS + .num + .icon-file02,
.searchCont .tags-type01 ~ .num,
.searchCont .tags-type01 ~ .icon-file02 {
	vertical-align: bottom;
}
