@charset 'UTF-8';
/* Button */
.btn {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent;
	color: #000;
	text-align: center;
	white-space: nowrap;
	background-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.btn:disabled,
.btn.disabled {
	border-color: #ccc;
	color: #666;
	background-color: #ccc;
	cursor: default;
}
.btn [class*=icon] {
	margin-right: 5px;
}
.selectize-control + .btn {
	margin-left: 5px;
}
/* Type */
[class*=btn-type] {
	padding: 0 40px;
	border: 1px solid #ccc;
	background-color: #fff;
}
[class*=btn-type] + [class*=btn-type],
.btn-group .label + [class*=btn-type] {
	margin-left: 5px;
}
[class*=btn-type] {
	min-width: 140px;
	height: 50px;
	padding: 0 17px;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
}
.btn-type02 {
	border-radius: 4px;
}
.btn-text-more {
	display: block;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
.btn-text-more:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 5px;
	margin-top: -2px;
	margin-left: 5px;
	background: url(/static/img/common/spr_icon.png) no-repeat -182px -45px;
}
/* Color */
.btn-color01 {
	border-color: #999;
	color: #000;
}
.btn-color02 {
	border-color: #ccc;
	color: #999;
}
.btn-color03 {
	border-color: #000;
	color: #000;
}
/* BG */
[class*=btn-bg] {
	border: 0;
	color: #fff;
}
.btn-bg01 {
	background-color: #2e3035;
}
.btn-bg02 {
	color: #666;
	background-color: #ccc;
}
.btn-bg03 {
	background-color: #ed1a2e;
}
.btn-bg04 {
	background-color: #2e3035;
}
/* Size */
.btn-full {
	width: 100%;
	margin: 0;
}
.btn-full ~ .btn-full {
	margin: 10px 0 0;
}
.btn-sizeXXS {
	min-width: auto;
	height: 30px;
	padding: 0 10px;
	font-size: 14px;
	line-height: 28px;
}
.btn-sizeXS {
	height: 35px;
	padding: 0 17px;
	font-size: 16px;
	line-height: 33px;
}
.btn-sizeS {
	min-width: 140px;
	height: 40px;
	padding: 0 28px;
	font-size: 16px;
	font-weight: 700;
	line-height: 38px;
}
.btn-sizeM {
	min-width: 200px;
	height: 70px;
	font-size: 20px;
	font-weight: 700;
	line-height: 68px;;
}
.btn-sizeL {
	height: 90px;
	line-height: 89px;
}
/* btn link */
.btn-link {
	color: #000;
	font-size: 16px;
	font-weight: 700;
}
.btn-link i {
	margin: -3px 0 0 5px;
}
.btn-link.underline,
[class*=btn].underline > span {
	border-bottom: 1px solid;
}
/* btn col */
.btn-col02 .btn {
	width: calc( 50% - 5px );
}
.btn-col03 .btn {
	width: 33.33%;
}
.btn-col04 .btn {
	width: 25%;
}
.btn-col05 .btn {
	width: 20%;
}
/* Group */
[class*=btn-group]:after {
	content: '';
	display: table;
	clear: both;
}
.btn-group {
	margin-top: 60px;
	text-align: center;
}
.btn-group02 .btn {
	float: left;
	min-width: 108px;
	margin: 0 -1px;
	padding: 0 5px;
	color: #999;
	font-size: 14px;
	font-weight: 300;
}
.pagination + .btn-group {
	/*margin-top: 10px;*/
}
.modal .pagination + .btn-group {
	/*margin-top: 20px;*/
}
.btn-group.align-justify > div {
	float: left;
}
.btn-group.align-justify > div + div {
	float: right;
}
/* btnLike (해딩영역)*/
.btnLike.active {
	color: #ed1a2e ;
}
.btnLike.active .icon-like {
	background-position: -226px 0;
}
/* Group: modify */
.join-box .btn-group {
	margin-top: 25px;
}
/* Delete */
.btn-delete {
	width: 24px;
	height: 24px;
	margin-left: 0;
	border: 0;
	background: url(/static/img/common/spr_icon.png) no-repeat -78px -52px;
}
.btn-delete02 {
	width: 18px;
	height: 15px;
	margin-left: 0;
	border: 0;
	/*background: pink;*/
	/* background: url(/static/img/common/spr_icon.png) no-repeat -78px -52px; */
}
/* Delete: modify */
.file-group .btn-delete {
	position: relative;
	top: 1px;
}
.btn strong {
	font-weight: 700;
}
/* ETC*/
.heading-depth03 .btn-more {
	float: right;
	position: relative;
	margin-top: 4px;
	padding-right: 15px;
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
}
.heading-depth03 .btn-more:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 15px;
	height: 9px;
	margin-top: -4px;
	background: url(/static/img/common/spr_arrow.png) no-repeat 0 0;
	transform: rotate(-90deg);
}
